.cont-nt{
    border: solid var(--color-greenyellow) 15px;
    background-color: var(--color-richblack);
    overflow-y: scroll;

    position: absolute;
    width: 60vw;
    height: 80vh;
    min-width: 300px;
    top: 9%;
    left: 8%;
    margin: 0;
    z-index: 1;
}
.header{
    background-color: var(--color-greenyellow);
    color: var(--color-richblack);
    text-align: start;
    font-weight: bold;
    font-size: 2em;
    
    margin: 0;
    height: 30px;
    width: 100%;
    padding-bottom: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.wish{
    font-size: 2.5em;
    text-align: start;
    padding: 20px;
}
::-webkit-scrollbar {
    width: 0;
}
#close-nt{
    cursor: pointer;
}