@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=VT323&display=swap');

footer{
    width: 100vw;
    height: 6vh;
    min-height: 2.5rem;
    background-color: var(--color-greenyellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-logo{
    border: intset;
    background-color: var(--color-richblack);
    width: 7%;
    min-width: 7.8rem;
    height: 100%;

    font-size: 2em;
    font-weight: bolder;
    font-family: 'VT323';
    color: var(--color-greenyellow);

    display: flex;
    justify-content: start;
    align-items: center;
}
.btn-logo:hover{
    opacity: .9;
    cursor: pointer;
}
.w-logo{
    width: 2.5rem;
    height: 80%;
    min-width: 1.5rem;
    max-width: 3rem;
    min-height: 1.2rem;
    padding-right: .5rem;
}