@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=VT323&display=swap');

:root{
	--color-greenyellow: #adff2f;
	--color-donegalgreen: #0f5701;
	--color-lincolngreen: #0b3d01;
	--color-orangered: #ff4500;
	--color-blue: #0000ff;
	--color-richblack: #021101;
}

body {
	margin: 0;
	padding: 0;
    background-color: var(--color-richblack);
	font-family: 'VT323';
	text-shadow: 0 0 15px var(--color-greenyellow);
	color: var(--color-greenyellow);

	display: flex;
	place-items: center;

}
